
<!DOCTYPE html>
<html>
    <head>
        @*<title>@ViewBag.Title</title>*@
        <title>@ViewData["Title"]</title>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Welcome to my first Site</h1>
        </header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home Page</a>
            <a asp-controller="Home" asp-action="About">About Page</a>
            <a asp-controller="Home" asp-action="FAQ">FAQ Page</a>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>